<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>180056831881-2gf4p951blv8ntmu1taddmisk0j4s4fu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.180056831881-2gf4p951blv8ntmu1taddmisk0j4s4fu</string>
	<key>API_KEY</key>
	<string>AIzaSyCfeDOBaVyZEDPxr_XB6aWm6pZUj_Z2kLU</string>
	<key>GCM_SENDER_ID</key>
	<string>180056831881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yveslym.financeApp</string>
	<key>PROJECT_ID</key>
	<string>financeapp-d1c74</string>
	<key>STORAGE_BUCKET</key>
	<string>financeapp-d1c74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180056831881:ios:cf04e6edfa3f0108</string>
	<key>DATABASE_URL</key>
	<string>https://financeapp-d1c74.firebaseio.com</string>
</dict>
</plist>